/***********css par défaut mobile ********************/

/* GLOBAL */

*{
    box-sizing: border-box;
    outline: none;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem; 
    width: 100%;
    margin: 0;
    background-color: rgb(204, 198, 198);
}

img, video, table{
    max-width: 100%;
}

a{
    text-decoration: none;
    margin: 0.2rem;
    color: #fff;
}

table{
    width: 100%;
}

h2{
    color: rgb(0, 138, 108);
}

h2, h3{
    text-align: center;
}




/***********css pour desktop ********************/

/* ------------------- M E N U ---------------------- */
/* header{
    
    height: 300px;
} */

nav{
    position: sticky;
    top: 0;
    background-color: rgba(102, 102, 102, 1);
}

.menu .menu_ul{
    border-bottom: 2px solid rgba(12, 12, 12, 0.5);
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu_li{
    list-style-type: none;
    margin: 0 50px;
    position: relative;
}

nav li:hover .sous_menu_ul{
    display: block;
    position: absolute;
    z-index:  1;
    background-color: rgb(0, 138, 108);
    top: 20px; 
    left: 0px;
}

.sous_menu_ul{
    display: none;
}

.sous_menu_ul .sous_menu_li{
    display: block;
}



/* ------------------- M E N U ---------------------- */

img{
    width: 355px;
    /* height: 255px; */
}

article{
    background-color: white;
}


.div_head{
    padding: 70px;
    height: 400px;
    background: linear-gradient(rgb(0, 138, 108) 50%, rgb(204, 198, 198) 50%);
}

.div_head .img_homer, .div_head .presentation{
    display: inline-block;
    width: 50%;
    /* height: 259px; */
}

.div_head .presentation{
    vertical-align: bottom;
}

.section_card{
    /* margin-top: 50px; */
}

.titre_taf{
    background-color: rgb(0, 138, 108);
    color: white;
    text-align: center;
}

.presentation{
    padding: 0;
}

span{
    color: rgb(0, 138, 108);
    font-size: 2rem;
}

/* ------------------- corps ---------------------- */

.main_section{
    padding: 1rem 7rem;
}
.main_section_card{
    /* padding: 2rem; */
}



article div{
    padding: 1rem 2rem;
}

article{
    box-shadow: 3px 3px rgba(102, 102, 102, 0.1), -3px -3px rgba(102, 102, 102, 0.1);
}

.p_gauche{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    /* padding: 2rem; */
}

.p_droite{
    display: inline-block;
    width: 80%;
    /* padding: 2rem; */
}

.competence_p{
    display: inline-block;
    width: 33%; 
    text-align: center;
    /* padding: 2rem; */
}