/***********css par défaut mobile ********************/

/* GLOBAL */

*{
    box-sizing: border-box;
    outline: none;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem; 
    width: 100%;
    margin: 0;
    background-color: rgb(204, 198, 198);
}

img, video, table{
    max-width: 100%;
}

a{
    text-decoration: none;
    margin: 0.2rem;
    color: #fff;
}

table{
    width: 100%;
}

h2{
    color: rgb(0, 138, 108);
}

h2, h3{
    text-align: center;
}

/* ------------------- M E N U ---------------------- */
    
nav{
    display: none;
}



/* ------------------- head ---------------------- */

img{
    width: 355px;
}

article{
    background-color: white;
}


.div_head{
    padding: 2rem;
    background: linear-gradient(rgb(0, 138, 108) 50%, rgb(204, 198, 198) 50%);
}

.div_head .img_homer, .div_head .presentation{
    text-align: center;
}

.div_head .presentation{
    vertical-align: bottom;
}

.titre_taf{
    background-color: rgb(0, 138, 108);
    color: white;
    text-align: center;
}

.presentation{
    padding: 0;
}

span{
    color: rgb(0, 138, 108);
    font-size: 2rem;
}

/* ------------------- corps ---------------------- */

.main_section{
    /* margin: 9rem 0 0; */
}

article div{
    padding: 1rem 2rem;
}

article{
    box-shadow: 3px 3px rgba(102, 102, 102, 0.1), -3px -3px rgba(102, 102, 102, 0.1);
}

.p_gauche, .p_droite, .competence_p{
    text-align: center;
}



@media screen and (min-width: 500px){

    /***********css pour tablette ********************/

    /* ------------------- M E N U ---------------------- */
    
    nav{
        display: block;
        background-color: rgba(102, 102, 102, 1);
        padding: 0 0.5rem;
        border-bottom: 2px solid rgba(12, 12, 12, 0.5);
    }

    .menu .menu_ul{
        padding: 20px 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .menu_li{
        list-style-type: none;
        position: relative;
    }
    
    nav li:hover .sous_menu_ul{
        display: block;
        position: absolute;
        z-index:  1;
        background-color: rgb(0, 138, 108);
        top: 20px; 
        left: 0px;
    }
    
    .sous_menu_ul{
        display: none;
    }
    
    .sous_menu_ul .sous_menu_li{
        display: block;
    }

    /* ------------------- head ---------------------- */

    /* ------------------- corps ---------------------- */
    
    .main_section{
        margin: 0 ;
        padding: 1rem 2rem ;
    }
}


@media screen and (min-width: 1025px){

    /***********css pour desktop ********************/
    
    /* ------------------- M E N U ---------------------- */
    
    
    /* ------------------- head ---------------------- */
    
    .div_head .img_homer, .div_head .presentation{
        display: inline-block;
        width: 50%;
    }
    
    /* ------------------- corps ---------------------- */
    
    .main_section{
        padding: 1rem 7rem 0;
    }
    
    article{
        box-shadow: 3px 3px rgba(102, 102, 102, 0.1), -3px -3px rgba(102, 102, 102, 0.1);
    }
    
    .p_gauche{
        display: inline-block;
        width: 20%;
        vertical-align: top;
    }
    
    .p_droite{
        display: inline-block;
        width: 80%;
    }
    
    .competence_p{
        display: inline-block;
        width: 33%; 
        text-align: center;
    }
}